<footer class="bg-dark text-white text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Nike VIETNAM</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
          consectetur adipisicing elit.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Help</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Get help</a>
          </li>
          <li>
            <a href="#!" class="text-white">Order Status</a>
          </li>
          <li>
            <a href="#!" class="text-white">Delivery</a>
          </li>
          <li>
            <a href="#!" class="text-white">Returns</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">About Nike</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">About Nike</a>
          </li>
          <li>
            <a href="#!" class="text-white"> News</a>
          </li>
          <li>
            <a href="#!" class="text-white">Careers</a>
          </li>
          <li>
            <a href="#!" class="text-white">Investors</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white" href="https://www.nike.com/vn/">
      Nike, Inc. All rights reserved</a
    >
  </div>
</footer>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
